*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: #ddd;
}

#container{
    width: 75%;
    background: white;
    min-height: 100vh;
    margin: 0 auto;
    border-left: 20px groove red;
    border-right: 20px groove red;
    padding: 32px 24px;
}

#title{
    padding: 0;
    margin: 0;
    text-align: center;
}

#form-card{
    width: 100%;
    box-shadow: 0 0 10px 0 #ddd;
    border-radius: 16px;
    margin: 24px 0;
    padding: 24px;
}

#marksheet-form{
   display: flex;
   flex-direction: column;
   gap: 24px;
}

#marksheet-form label {
    font-size: 18px;
    font-weight: bold;
}

#form-box{
    display: flex;
    gap: 24px;
}

#marks{
    display: flex;
    gap: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
}

#marksheet-form input , #choose-gender {
    border: 1px solid #ccc;
    padding: 12px;
    flex-grow: 1;
}

#subjects{
    border: none;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

#generate{
    border: none;
    background: dodgerblue;
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: 16px 24px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;

}

table{
    margin-top: 30px;
}

th , td {
    border: 1px solid #ccc;
    padding: 8px;
}

#dynamic-area{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#school-name{
    padding: 0;
    margin: 0;
    margin-bottom: 8px;
}

#copyright{
    text-align: center;
    margin-top: 24px;
    font-size: 18px;
}

#warning{
    display: block;
    text-align: center;
}

.delete-btn {
    border: none;
    background: gray;
    color: black;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
}